.card {
    height: 100px;
    width: 50%;

    background: #838383;
    color: #fff;

    border-radius: 10px;
    margin-bottom: 20px;

    display: grid;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    /*position:absolute;*/
}

.post img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 7px;
}

.post p {
    font-size: 18px;
    margin-right: 15rem;
    margin-left: 15rem;
}

.resources{
    display: flex;
    align-items: center;
    justify-content: space-between;
	/*position: relative;*/
}